<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    <div class="container">
        <h1 style="font-size:50px; color: #3b8c80;">Enter a Question</h1>

        <form action="/result" method="post">
        <label for="user-input"></label>
        <input type="text" id="user-input" name="user-input" style="background-color: #b8e7de; height: 200px; width: 600px;" value=" would like to know how i can initialize an array(or list), yet to be populated with values, to have a defined size.

        For example in C:
        
        int x[5]; /* declared without adding elements*/
        How do I do that in Python?"><br>
        <input type="submit" value="Submit">
        </form>
    </div>


</body>
</html>